.form__webln-button-wrap {
  width: 100%;
  text-align: right;
}

.form__form {
  display: flex;
  border: 2px dashed #000;
}

.form__label {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.form__input {
  background-color: #fff;
  padding: 2rem;
  width: 100%;
  font-size: 1.8rem;
}

.form__input::placeholder {
  color: rgb(155, 155, 155);
}
